@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-SF-Pro-Display font-normal text-slate-900 duration-300;
}

body.dark {
	@apply bg-[#1F2937] text-white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input {
	outline: none
}

.container {
	@apply max-w-[1216px] mx-auto;
}

/* dark mode */
.dark .title-text {
	@apply text-white
}

.dark .close-btn svg path {
	@apply fill-white
}

.dark .white-text,
.dark .title-xxl {
	@apply text-white;
}

.dark .btn {
	@apply bg-white text-[#1F2937];
}

.dark .btn:hover {
	@apply text-white
}

.dark .btn-light,
.dark .btn-light__two {
	@apply bg-[#374151] text-white;
}

.dark .footer-search__icon path {
	@apply fill-[#9CA3AF]
}

.dark .btn-light svg path,
.dark .btn-light__two svg path {
	@apply fill-white
}

.dark [data-send-btn] {
	@apply bg-[#374151] text-white;
}

.dark .dark-white,
.dark .btn-light {
	@apply text-white
}

.dark footer input {
	@apply bg-[#1F2937] placeholder:text-[#9CA3AF];
}

.dark .product-btn__icon path {
	@apply fill-slate-900;
}

.dark .benefits-input {
	@apply bg-[#374151] text-white
}

.dark .product-card .btn {
	@apply bg-white text-slate-900 border-transparent;
}

.dark .product-card .hover-svg path {
	@apply fill-white;
}

.dark .product-card .btn+div {
	@apply bg-[#374151];
}

.dark .menu-btn:hover {
	@apply bg-[#374151];
}

.dark .menu-btn:hover div span {
	@apply bg-white
}

.dark header input[type="search"] {
	@apply bg-[#374151];
}

.dark header input[type="search"]::placeholder,
.dark .benefits-input::placeholder {
	@apply text-[#9CA3AF]
}

.dark .menu-box,
.dark .pagination>div {
	@apply bg-[#374151];
}

.dark .menu-box svg path,
.dark .pagination>div svg path {
	@apply fill-white;
}

.dark .menu-box .sun-icon path {
	@apply stroke-white
}

.dark .product-categories a {
	@apply border-[#374151]
}

.dark .product-categories a div {
	@apply bg-[#374151]
}

.dark .services-cards div {
	@apply bg-[#374151];
}

.dark .services-cards div p {
	@apply text-white;
}

.dark .services-cards div>div:first-child {
	@apply bg-slate-900
}

.dark header input[type="search"]+button svg path {
	@apply fill-[#9CA3AF];
}

.dark .menu-btn div span {
	@apply bg-[#374151]
}

.dark .header-top {
	@apply bg-[#374151] text-white;
}

.dark .header-top a {
	@apply text-[#9CA3AF];
}

.dark .reviews-swiper .swiper-slide>div {
	@apply bg-[#374151];
}

.dark .reviews-swiper .swiper-slide>div p {
	@apply text-white
}

.dark footer a,
.dark footer p {
	@apply text-[#9CA3AF];
}

.dark .catalog>div {
	@apply bg-[#1F2937];
}

.dark .catalog .catalog-box {
	@apply bg-[#374151] text-white;
}

/* dark mode end */

.title-text {
	@apply font-SF-Pro-Display text-3xl font-medium leading-8.5 text-slate-900 tracking-normal;
}

.title-xxl {
	@apply text-4xl leading-[44px] font-medium text-slate-900;
}

.info-text {
	@apply text-sm font-normal leading-3.5 text-slate-900 tracking-normal;
}

.btn {
	@apply px-4 py-[14px] bg-slate-900 text-white text-sm font-medium leading-3.5 h-[48px] rounded-xl flex items-center relative transition-all duration-200;
}

.btn.menu-btn {
	@apply text-base;
}

.btn:hover {
	@apply bg-slate-800
}

.btn-light {
	@apply hover:bg-slate-900 hover:text-white flex items-center space-x-2 text-sm font-medium leading-3.5 text-slate-900 duration-200 bg-slate-100 px-4 py-[14px] rounded-xl
}

.btn-light__two {
	@apply hover:bg-slate-900 hover:text-white flex items-center space-x-2 text-sm font-medium leading-3.5 text-slate-900 duration-200 bg-slate-100 px-4 py-[14px] rounded-xl
}

.btn-light:hover svg path,
.btn-light__two:hover svg path {
	@apply fill-white
}

.btn.focus,
.btn:focus {
	box-shadow: none;
	outline: 0px;
}

.hover-svg:hover svg path {
	@apply fill-white;
}

.menu-btn>div>span {
	@apply transition-all duration-300;
}

.menu-btn.active>div>span:first-child {
	transform: rotate(50deg);
	top: 4px;
}

.menu-btn.active>div>span:last-child {
	transform: rotate(-50deg);
	top: -1.5px;
}

.menu-box:hover>svg>path {
	@apply fill-white;
}

/* swiper */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	@apply w-fit left-8 bottom-7
}

.swiper-pagination-bullet {
	@apply w-6 h-[2px] rounded-3xl opacity-[40%] bg-white;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply opacity-100
}

/* products */
.products-cards {
	@apply flex justify-between gap-[16px] flex-wrap;
}

.products-cards>div {
	@apply max-w-[280px] w-full flex-1 px-6
}

.product-btn.active {
	@apply bg-transparent border-slate-900 text-slate-900
}

.tooltip .tooltip-text {
	visibility: hidden;
	text-align: center;
	padding: 2px 6px;
	position: absolute;
	z-index: 100;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

/* form validation */
.benefits-input.active {
	@apply border-green-500;
}

.benefits-input.warning {
	@apply border-red-500;
}

/* scroll style */
.no-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.catalog.active {
	@apply scale-y-100
}

.catalog {
	@apply scale-y-0 origin-top;
}

.pagination>div.active {
	@apply bg-slate-900 text-white
}

.gift-section .btn-light {
	@apply pr-4;
}

@media screen and (max-width: 640px) {
	.catalog {
		@apply scale-y-100 scale-x-0 origin-left
	}

	.catalog.active {
		@apply scale-x-100;
	}

	.menu-btn {
		@apply h-10
	}
}

/* media query start */
@media screen and (max-width: 1250px) {
	.container {
		@apply max-w-full px-5
	}

	.discount-swiper {
		@apply max-w-[60%]
	}

	.discount-swiper-two {
		@apply max-w-[40%]
	}
}

@media screen and (max-width: 1153px) {
	header input[type='search'] {
		@apply w-full;
	}

	.products-cards>div {
		@apply px-0
	}
}

@media screen and (max-width: 992px) {
	.container {
		@apply px-4
	}

	.discount-swiper,
	.discount-swiper-two {
		@apply max-w-[50%]
	}
}

@media screen and (max-width: 768px) {

	.discount-swiper,
	.discount-swiper-two {
		@apply max-w-[100%]
	}
}

@media screen and (max-width: 520px) {
	.products-cards {
		@apply grid grid-cols-2;
	}
}

@media screen and (max-width: 640px) {

	.btn {
		@apply h-10 leading-[13.2px] py-2 px-3 text-xs rounded-lg;
	}

	.btn.menu-btn {
		@apply h-10;
	}

	.dark .btn-light {
		@apply bg-transparent
	}

	.btn-light {
		@apply pl-3 py-1 text-sm leading-3.5 rounded-lg h-8 space-x-1 p-0 bg-transparent;
	}

	.gift-section .btn-light {
		@apply bg-slate-100 space-x-2 pr-3
	}

	.info {
		@apply text-xs leading-[13.2px];
	}

	.swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		@apply bottom-0 w-full left-0;
	}

	.swiper-pagination-bullet {
		@apply bg-slate-300;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background: linear-gradient(42.01deg, #7B88FD 1.98%, #43CADC 113.43%);
		@apply opacity-100;
	}

	.products-cards .product-img {
		@apply w-[151px] h-[174px];
	}

	.title-text,
	.title-xxl {
		@apply text-[20px] leading-[22px];
	}

	.product-card .btn {
		@apply h-8 rounded-lg;
	}

	.product-card .btn+div {
		@apply h-8 min-w-8 flex items-center justify-center p-0 rounded-lg;
	}

	.product-card .btn+div svg {
		@apply w-[12px] h-[11px];
	}

	.slide-box .slider-img {
		width: 10px !important;
		display: none;
	}

	.btn {
		@apply h-[32px];
	}
}