@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-SF-Pro-Display font-normal text-slate-900;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.container {
	@apply max-w-[1216px] mx-auto;
}

.title-text {
	@apply font-SF-Pro-Display text-32 font-medium leading-8.5 text-slate-900 tracking-normal;
}

.info-text {
	@apply text-sm font-normal leading-3.5 text-slate-900 tracking-normal;
}

.btn {
	@apply px-4 py-[14px] bg-slate-900 text-white text-sm font-medium leading-3.5 h-[48px] rounded-xl flex items-center relative transition-all duration-200;
}

.btn:hover {
	@apply bg-slate-800
}

.btn-light {
	@apply flex items-center space-x-2 text-sm font-medium leading-3.5 text-slate-900 duration-200 bg-slate-100 px-4 py-[14px] rounded-xl
}

.btn-light:hover {
	@apply bg-slate-900 text-white
}

.btn-light:hover svg path {
	@apply fill-white
}

.btn.focus,
.btn:focus {
	box-shadow: none;
	outline: 0px;
}

.hover-svg:hover svg path {
	@apply fill-white;
}

.menu-btn>div>span {
	@apply transition-all duration-300;
}

.menu-btn.active>div>span:first-child {
	transform: rotate(50deg);
	top: 4px;
}

.menu-btn.active>div>span:last-child {
	transform: rotate(-50deg);
	top: -1.5px;
}

.menu-box:hover>svg>path {
	@apply fill-white;
}

/* swiper */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	@apply w-fit left-8 bottom-7
}

.swiper-pagination-bullet {
	@apply w-6 h-[2px] rounded-3xl opacity-[40%] bg-white;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply opacity-100
}

/* products */
.products-cards {
	@apply flex justify-between gap-[15px] flex-wrap;
}

.products-cards>div {
	@apply max-w-[232px] w-full flex-1
}

.product-btn.active {
	@apply bg-transparent border-slate-900 text-slate-900
}

.product-btn__icon.active {
	/* @apply w-[25px] h-[25px] */
}